*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.toc
*-eps-converted-to.pdf
*.out
*.nav
*.vrb
*~
*.mp
*.t[0-9]
*.o
*.a
*.so
*.cff
Compute
test/RunTests
*.dat
libconfig-1.4.9/*
fparser/*
fparser4.5.1/*
confDir/*
output/*
runData*
*#*
*.cache