*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.toc
*-eps-converted-to.pdf
*.out
*.nav
*.vrb
*~
*.mp
*.t[0-9]
*.o
*.a
*.so
*.cff
Compute
test/RunTests
*.dat
*.txt
libconfig-1.4.9/*
fparser/*
fparser4.5.1/*
confDir/*
output/*
runData*
*#*
*.cache
makefile
include/extrasrc
include/fparser.hh
include/fpconfig.hh
include/fpoptimizer.hh
src/fparser.cc
src/fpconfig.cc
src/fpoptimizer.cc
*.conf
ARPACK/ARmake.inc
*.mp4
AuxScripts/*